* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  outline: none;
}

ul, ol {
  list-style: none;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 12px;
}

.header {
  background-color: rgba(16, 16, 29, 0.9);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    height: 60px;
  }
}
.mobile-menu {
  display: none;
}
.mobile-menu .mobile-menu__btn {
  width: 26px;
  height: 23px;
  cursor: pointer;
}
.mobile-menu .mobile-menu__btn img {
  width: 100%;
  height: 100%;
}
.mobile-menu .mobile-menu__close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 0 0 auto;
}
.mobile-menu .mobile-menu__close img {
  width: 100%;
  height: 100%;
}
.mobile-menu .mobile-menu__items {
  background-color: rgb(16, 16, 29);
  color: #fff;
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 12px;
}
.mobile-menu .mobile-menu__items .mobile_menu__item {
  padding: 10px 12px;
  border-bottom: 1px solid #514f4f;
}
.mobile-menu .mobile-menu__items .mobile_menu__item:last-child {
  border-bottom: none;
}

.mobile-menu_visible .mobile-menu__items {
  right: 0 !important;
}

@media (max-width: 800px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.row-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row-menu__item {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 60px;
}
.row-menu__item:hover {
  color: #43ABF0;
}
.row-menu__item:last-child {
  margin-right: 0;
}
.row-menu__item_active {
  color: #3E9CDC;
}

@media (max-width: 800px) {
  .row-menu {
    display: none;
  }
}
.title {
  width: 100%;
}
.title__h {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.title__h_colored {
  color: #43ABF0;
}
.title__subtxt {
  font-size: 18px;
  color: #bdbdbd;
  font-weight: 400;
}

.list-block {
  font-size: 20px;
  line-height: 24px;
}
.list-block__h {
  font-weight: 700;
}
.list-block__ul {
  margin-top: 10px;
}
.list-block__ul > li {
  margin-top: 5px;
}

.custom-button {
  width: 100%;
  padding: 15px 0;
  border-radius: 4px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #6F6D7B;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
}
.custom-button:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}
.custom-button:active {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.custom-button_primary {
  border: 1px solid #FFFFFF;
  background-color: #3E9CDC;
  color: #fff;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 188px;
}
.feature-item .feature-item__icon {
  background-color: #3E9CDC;
  border: 5px solid #286690;
  border-radius: 50%;
  width: 95px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feature-item .feature-item__description {
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

.custom-input {
  position: relative;
}
.custom-input .custom-input__input {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 48px;
  padding: 12px 10px;
  font-size: 14px;
  color: #272733;
  width: 100%;
}

.custom-input select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  padding: 10px 12px;
  height: 48px;
  position: relative;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 16px;
}

.select-items div, .select-selected {
  color: #ffffff;
  padding: 12px 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: rgb(16, 16, 29);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 200px;
  overflow: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-input input[type=file] {
  display: none;
}
.custom-input .custom-input__file-label {
  height: 48px;
  padding: 10px 12px;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.custom-input .custom-input__icon-wrapper {
  height: 17.14px;
  width: 20px;
  margin-right: 10px;
}
.custom-input .custom-input__icon-wrapper .custom-input__icon {
  width: 100%;
  height: 100%;
}
.custom-input .custom-input__label-text {
  line-height: 1;
  margin-top: 1px;
  font-size: 15px;
  color: #272733;
}

.custom-input .custom_input__input_range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  margin-top: 19px;
  cursor: pointer;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
}
.custom-input .custom-input__range-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fff;
}
.custom-input input[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
}
.custom-input input[type=range]::-moz-range-track {
  border-radius: 3px/100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
}
.custom-input input[type=range]::-webkit-slider-thumb {
  background: #43ABF0;
  border: 2px solid #286690;
  border-radius: 50%;
  cursor: pointer;
  width: 23px;
  height: 23px;
  -webkit-appearance: none;
  margin-top: -9px;
}
.custom-input input[type=range]::-moz-range-thumb {
  background: #43ABF0;
  border: 2px solid #286690;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  -webkit-appearance: none;
  margin-top: -9px;
  cursor: pointer;
}

.link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link-item .link-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link-item .link-item__label {
  margin-left: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3D4050;
  height: 80px;
  padding: 30px 0;
}
.footer .footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  border-right: 1px solid #C3C3C3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__block:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer .footer__block:last-child {
  border-right: none;
}

@media (max-width: 990px) {
  .footer {
    padding: 10px;
    height: auto;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__block {
    width: 100%;
    margin-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 10px;
    border: none;
  }
  .footer .footer__block:first-child {
    margin-top: 0;
  }
}
.main-block {
  background: url("img/mainBg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  max-height: 850px;
  min-height: 716px;
}
.main-block .main-block__title {
  margin-top: 203px;
  max-width: 780px;
}
.main-block .main-block__title > * + * {
  margin-top: 80px;
}
.main-block__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-block__btn-group > * {
  margin-right: 30px;
}
.main-block__btn-group > *:last-child {
  margin-right: 0;
}

@media (max-width: 800px) {
  .main-block {
    max-height: unset;
    height: unset;
    padding-bottom: 20px;
    min-height: unset;
  }
  .main-block .main-block__title {
    margin-top: 100px;
    max-width: 780px;
  }
  .main-block .main-block__title .title * {
    font-size: 30px;
  }
  .main-block .main-block__title .list-block {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .main-block {
    max-height: unset;
    height: unset;
    padding-bottom: 20px;
  }
  .main-block .main-block__title {
    margin-top: 80px;
    max-width: 780px;
  }
  .main-block .main-block__btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-block .main-block__btn-group > * + * {
    margin-top: 10px;
    margin-right: 0;
  }
}
.order-block {
  background: url("img/layer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(16, 16, 29, 0.9);
  min-height: 800px;
  padding-bottom: 40px;
}
.order-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.order-block .container > * + * {
  margin-top: 80px;
  width: 100%;
}
.order-block .order-block__title {
  margin-top: 121px;
}
.order-block .order-block__features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.order-block .order-block__features-row .feature-item {
  min-width: 188px;
}
.order-block .order-block__circles-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 11%;
  margin-top: 48px;
  margin-left: -25px;
  margin-right: -26px;
}
.order-block .order-block__circles-cont .order-block__circle {
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
}
.order-block .order-block__form .order-block__input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.order-block .order-block__form .order-block__input-row:first-child {
  margin-top: 0;
}
.order-block .order-block__form .order-block__input-row > * {
  width: 30%;
}
.order-block .order-block__form .order-block_range {
  width: 65%;
}
.order-block .order-block__form .order-block__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.order-block .title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin: 0 auto;
}
.order-block .title .title__h {
  font-size: 36px;
}
.order-block .title .title__subtxt {
  margin-top: 30px;
  font-weight: 400;
}
@media (max-width: 990px) {
  .order-block .order-block__circles-cont {
    display: none;
  }
  .order-block .order-block__features-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order-block .order-block__features-row .feature-item {
    min-width: 188px;
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .order-block {
    height: auto;
  }
  .order-block .order-block__form .order-block__input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-block .order-block__form .order-block__input-row:first-child {
    margin-top: 0;
  }
  .order-block .order-block__form .order-block__input-row > * {
    width: 80%;
    margin-top: 10px;
  }
  .order-block .order-block__form .order-block_range {
    width: 80%;
  }
  .order-block .order-block__form .custom-input__file {
    margin-top: 20px;
    width: 40%;
  }
  .order-block .order-block__form .order-block__button {
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .order-block .container > * {
    margin-top: 30px;
  }
  .order-block .order-block__form {
    margin-top: 20px;
  }
  .order-block .order-block__form .order-block__input-row > * {
    width: 100%;
  }
}